<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather ChatBot App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css') }}">
</head>
<body>
    <!-- New element for the background image -->
    <div class="background-image"></div>

    <div id="app-wrapper" class="app-wrapper">
        <!-- Move the logo outside the #app-wrapper -->
        <img src="{{ url_for('static', filename='logo/Picture2.png') }}" alt="ChatBot Logo" class="logo"/>

        <div id="chat-container" class="chat-container" role="region" aria-label="Chat Container">
            <div id="chat-display" class="chat-display" role="log" aria-live="polite" aria-label="Chat Display"></div>
            <div id="chat-form-container" class="chat-form-container">
            <form id="chat-form" onsubmit="sendMessage(); return false;">
                <input type="text" id="user-input" class="user-input" placeholder="Ask about the weather..." aria-label="User Input">
                <button onclick="sendMessage(); return false;" class="send-button" aria-label="Send">Send</button>
            </form>
            </div>
        </div>
    </div>
     <!-- Add a loading spinner element -->
        <div id="loading-spinner" class="loading-spinner" role="status" aria-live="assertive">
            Loading...
        </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script>
        // Function to display the chatbot's introductory message on initialization
        function displayIntroMessage() {
            var introMessage = "Hi, I am a Weather Chatbot. Please ask me about the weather or forecast in your city.";

            // Create HTML elements to represent the chatbot message
            var introChatMessage = document.createElement("div");
            introChatMessage.className = "chatbot-message-container";
            introChatMessage.innerHTML = '<div style="padding:5px;">WeatherBot</div><div class="chat-message chatbot-message">' + introMessage + '</div>';

            // Append the chatbot message to the chat display
            document.getElementById('chat-display').appendChild(introChatMessage);

            // Scroll the chat display to the bottom
            scrollChatToBottom();
        }

        // Call the displayIntroMessage function when the page is loaded
        window.onload = function () {
            setTimeout(displayIntroMessage, 1000);
        };
    </script>
</body>
</html>
