<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatBot App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css') }}">
</head>
<body>
    <!-- New element for the background image -->
    <div class="background-image"></div>

    <div id="app-wrapper" class="app-wrapper">
        <!-- Move the logo outside the #app-wrapper -->
        <img src="{{ url_for('static', filename='logo/Picture2.png') }}" alt="ChatBot Logo" class="logo"/>

        <div id="chat-container" class="chat-container" role="region" aria-label="Chat Container">
            <div id="chat-display" class="chat-display" role="log" aria-live="polite" aria-label="Chat Display"></div>
            <div id="chat-form-container" class="chat-form-container">
            <form id="chat-form" onsubmit="sendMessage(); return false;">
                <input type="text" id="user-input" class="user-input" placeholder="Ask about the weather..." aria-label="User Input">
                <button onclick="sendMessage(); return false;" class="send-button" aria-label="Send">Send</button>
            </form>
            </div>
        </div>
    </div>
     <!-- Add a loading spinner element -->
        <div id="loading-spinner" class="loading-spinner" role="status" aria-live="assertive">
            Loading...
        </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
