html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Cooper Std Black', Arial;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent background image overflow */
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; /* Set the z-index to be behind other elements */
  background: url('/static/images/stonehenge.jpg') center center no-repeat;
  background-size: cover;
}

header {
  text-align: center;
  padding: 20px 0;
  z-index: 2; /* Ensure the header is above the background image */
}

h1 {
  font-size: 36px;
  color: #333;
}

.logo {
  width: 250px;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; /* Ensure the logo is behind the chat window */
}

#app-wrapper {
  width: 80%;
  height: 80%;
  text-align: center;
  position: relative; /* Make #app-wrapper a positioning context */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3; /* Ensure the chat window is above the logo */
}

#chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  box-sizing: border-box; /* Ensure padding is included in the width */
  position: relative; /* Make chat-container a positioning context */
  z-index: 4; /* Ensure the chat window is above the background image */
  height: 100%; /* Adjusted to 100% of the viewport height */
}

#chat-display {
  flex-grow: 1; /* Grow to fill available space */
  max-height: calc(100% - 80px); /* Adjusted to fit within the chat container */
  overflow-y: auto;
  padding: 10px;
  width:90%;
  margin: 0 auto;
 /* Scroll bar styling */
  scrollbar-width: thin;
  scrollbar-color: #4472C4 #ED7D31; /* Track and handle colors */

  /* For browsers that support WebKit (e.g., Chrome, Safari) */
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #BAC3C7; /* Handle color */
  }

  &::-webkit-scrollbar-track {
    background-color: #fff; /* Track color */
  }
}

#chat-form {
  width:100%;
  display:block;
}

#chat-form-container {
  padding: 20px 10px;
  width: 100%; /* Full width */
  display: flex;
  justify-content: space-between; /* Adjusted to spread items horizontally */
}

#user-input {
  width: 80%; /* Adjusted width */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px; /* Add some spacing between input and button */
  font-size: 16px;
  background-color: #fff;
}

button {
  width: 10%; /* Adjusted width */
  padding: 10px 20px;
  border: 1px solid #4472C4;
  border-radius: 5px;
  font-size: 16px;
  background-color: #4472C4;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ED7D31;
}

.chat-message {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.user-message-container {
  text-align: right;
  font-size:12px;
}

.chatbot-message-container {
  text-align: left;
  font-size:12px;
}

.user-message {
  background-color: #4472C4;
  color: #fff;
  text-align: right;
  font-size: 16px;
}

.chatbot-message {
  background-color: #ED7D31;
  color: #fff;
  text-align: left;
  font-size: 16px;
}

.alert {
  color: #d9534f;
  font-size: 14px;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
  #chat-container {
    width: 90%;
  }
}
